Repository Ismail-Lh/byltbasics-ecom: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter nextjs-app lint, prettier --write, pnpm --filter express-app lint, eslint --fix

.lintstagedrc:

{
  "apps/nextjs-app/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter nextjs-app lint",
    "prettier --write"
  ],
  "apps/express-app/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter express-app lint",
    "prettier --write"
  ],
  "packages/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat(api/db): integrate Drizzle ORM with PostgreSQL
  apps/express-app/drizzle.config.ts
  apps/express-app/package.json
  apps/express-app/src/config/env.config.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/index.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/index.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/user.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/db): generate initial migration files for user schema
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrate.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0000_freezing_ben_parker.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0000_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
Due: prettier --write, pnpm --filter express-app lint

feat(api/db): add database seeding functionality
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seed.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/data/users.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/index.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/user.ts
Due: prettier --write, pnpm --filter express-app lint

chore: update project configuration for database management
  apps/express-app/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(api): update README with Drizzle ORM and PostgreSQL setup instructions
  apps/express-app/README.md
Due: prettier --write

docs: add Git branching strategy document
  BRANCHING_STRATEGY.md
Due: prettier --write

feat(api/db): update users table schema to include more fields
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0000_flaky_kree.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0000_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/user.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/data/users.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/user.ts
Due: prettier --write, pnpm --filter express-app lint

chore: update rootDir in tsconfig to include all source files and add tsx dependency
  apps/express-app/package.json
  apps/express-app/tsconfig.json
Due: prettier --write

feat(api/user): implement user domain model and DTOs
  apps/express-app/src/domain/user/dtos/create-user.dto.ts
  apps/express-app/src/domain/user/dtos/index.ts
  apps/express-app/src/domain/user/dtos/user-in.dto.ts
  apps/express-app/src/domain/user/dtos/user-out.dto.ts
  apps/express-app/src/domain/user/entity/index.ts
  apps/express-app/src/domain/user/entity/user.entity.ts
  apps/express-app/src/domain/user/enums/errors.enum.ts
  apps/express-app/src/domain/user/enums/index.ts
  apps/express-app/src/domain/user/value-objects/email.ts
  apps/express-app/src/domain/user/value-objects/index.ts
  apps/express-app/src/domain/user/value-objects/name.ts
  apps/express-app/src/domain/user/value-objects/password.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/dtos): add response DTO and index exports for standardized API responses
  apps/express-app/src/domain/shared/dtos/index.ts
  apps/express-app/src/domain/shared/dtos/response/index.ts
  apps/express-app/src/domain/shared/dtos/response/response.dto.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/db): create user database schema and repository
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0001_romantic_owl.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0001_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/user.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seed.ts
  apps/express-app/src/infrastructure/repositories/drizzle/index.ts
  apps/express-app/src/infrastructure/repositories/drizzle/user.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/user): create user repository interface in application layer
  apps/express-app/src/application/repositories/index.ts
  apps/express-app/src/application/repositories/user.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/user): implement create user use case
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
  apps/express-app/src/application/use-cases/user/implementations/index.ts
  apps/express-app/src/application/use-cases/user/index.ts
  apps/express-app/src/application/use-cases/user/interfaces/create-user.ts
  apps/express-app/src/application/use-cases/user/interfaces/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/inversify): add bindings for UserRepository and CreateUserUseCase
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/types.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/security): add cryptographic services for user data
  apps/express-app/src/application/providers/crypto.interface.ts
  apps/express-app/src/application/providers/index.ts
  apps/express-app/src/config/env.config.ts
  apps/express-app/src/infrastructure/providers/crypto/crypto.provider.ts
  apps/express-app/src/infrastructure/providers/crypto/index.ts
  apps/express-app/src/infrastructure/providers/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/inversify): add CryptoProvider binding to the container
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/types.ts
Due: prettier --write, pnpm --filter express-app lint

chore(api): add bcryptjs for password hashing and validation
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(api/user): add email existence check and password hashing to createUserUseCase
  apps/express-app/src/application/repositories/user.repository.ts
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
  apps/express-app/src/domain/user/enums/errors.enum.ts
  apps/express-app/src/infrastructure/repositories/drizzle/user.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api): implement user registration API with Dependency Injection
  apps/express-app/package.json
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/service-provider.ts
  apps/express-app/src/config/inversify/types.ts
  apps/express-app/src/domain/shared/dtos/response/response.dto.ts
  apps/express-app/src/presentation/adapters/express.ts
  apps/express-app/src/presentation/express/app.ts
  apps/express-app/src/presentation/express/routes/index.ts
  apps/express-app/src/presentation/express/routes/user.ts
  apps/express-app/src/presentation/express/types/index.ts
  apps/express-app/src/presentation/http/controllers/controller.interface.ts
  apps/express-app/src/presentation/http/controllers/user/create-user.ts
  apps/express-app/src/presentation/http/controllers/user/index.ts
  apps/express-app/src/presentation/http/helpers/implementations/http-req.ts
  apps/express-app/src/presentation/http/helpers/implementations/http-res.ts
  apps/express-app/src/presentation/http/helpers/implementations/index.ts
  apps/express-app/src/presentation/http/helpers/interfaces/http-req.ts
  apps/express-app/src/presentation/http/helpers/interfaces/http-res.ts
  apps/express-app/src/presentation/http/helpers/interfaces/index.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm --filter express-app lint

refactor(api): reorganize dependency injection structure
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
  apps/express-app/src/config/inversify/index.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrate.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seed.ts
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/di-container/types.ts
  apps/express-app/src/presentation/express/app.ts
  apps/express-app/src/presentation/express/middlewares/errors/global-error.middleware.ts
  apps/express-app/src/presentation/express/routes/user.ts
  apps/express-app/src/presentation/express/server.ts
  apps/express-app/src/presentation/http/controllers/user/create-user.ts
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

fix(api/user): use proper user fields validation in user creation flow
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api): implement domain validation with schema extraction and request validation
  apps/express-app/src/domain/user/schemas/create-user.schema.ts
  apps/express-app/src/domain/user/schemas/email.schema.ts
  apps/express-app/src/domain/user/schemas/index.ts
  apps/express-app/src/domain/user/schemas/password.schema.ts
  apps/express-app/src/domain/user/schemas/username.schema.ts
  apps/express-app/src/domain/user/value-objects/email.ts
  apps/express-app/src/domain/user/value-objects/name.ts
  apps/express-app/src/domain/user/value-objects/password.ts
  apps/express-app/src/presentation/express/middlewares/index.ts
  apps/express-app/src/presentation/express/middlewares/validations/index.ts
  apps/express-app/src/presentation/express/middlewares/validations/validate-request.middleware.ts
  apps/express-app/src/presentation/express/routes/user.ts
Due: prettier --write, pnpm --filter express-app lint

docs(api): enhance code documentation for better understanding and maintainability
  apps/express-app/src/application/use-cases/user/implementations/create-user.ts
  apps/express-app/src/presentation/http/controllers/controller.interface.ts
  apps/express-app/src/presentation/http/controllers/user/create-user.ts
  apps/express-app/src/presentation/http/helpers/implementations/http-req.ts
  apps/express-app/src/presentation/http/helpers/implementations/http-res.ts
  apps/express-app/src/presentation/http/helpers/implementations/index.ts
Due: prettier --write, pnpm --filter express-app lint

docs(api/README): update documentation to reflect architectural changes and new features
  apps/express-app/README.md
Due: prettier --write

refactor(api): reorganize user creation feature with feature-based folder structure
  apps/express-app/src/application/use-cases/user/create-user/create-user.interface.ts
  apps/express-app/src/application/use-cases/user/create-user/create-user.ts
  apps/express-app/src/application/use-cases/user/create-user/index.ts
  apps/express-app/src/application/use-cases/user/implementations/index.ts
  apps/express-app/src/application/use-cases/user/index.ts
  apps/express-app/src/application/use-cases/user/interfaces/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(packages/types): implement shared types package
  .gitignore
  package.json
  packages/types/package.json
  packages/types/src/api/error-response.ts
  packages/types/src/api/index.ts
  packages/types/src/api/success-response.ts
  packages/types/src/index.ts
  packages/types/tsconfig.json
  packages/types/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

docs(types): add comprehensive README for types package
  packages/types/README.md
Due: prettier --write

feat(api): implement standardized API response format
  apps/express-app/src/application/providers/index.ts
  apps/express-app/src/application/providers/response-sanitizer.interface.ts
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/di-container/types.ts
  apps/express-app/src/infrastructure/providers/index.ts
  apps/express-app/src/infrastructure/providers/response-sanitizer/index.ts
  apps/express-app/src/infrastructure/providers/response-sanitizer/response-sanitizer.ts
  apps/express-app/src/presentation/express/middlewares/errors/global-error.middleware.ts
  apps/express-app/src/presentation/express/routes/user.ts
  apps/express-app/src/presentation/http/controllers/user/create-user.ts
  apps/express-app/src/presentation/http/helpers/interfaces/http-res.ts
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

refactor(packages/types): rename 'payload' to 'body' in error and success response interfaces
  packages/types/src/api/error-response.ts
  packages/types/src/api/success-response.ts
Due: prettier --write, eslint --fix

chore(api): add @byltbasics/types as a workspace dependency
  apps/express-app/package.json
Due: prettier --write

docs(api): update README to include standardized API response format and response sanitizer details
  apps/express-app/README.md
Due: prettier --write

refactor(api/auth): restructure user registration into dedicated auth module
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/di-container/types.ts
  apps/express-app/src/presentation/express/app.ts
  apps/express-app/src/presentation/express/routes/auth.routes.ts
  apps/express-app/src/presentation/express/routes/index.ts
  apps/express-app/src/presentation/http/controllers/auth/auth-register.controller.ts
  apps/express-app/src/presentation/http/controllers/auth/index.ts
  apps/express-app/src/presentation/http/controllers/user/index.ts
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

docs(api): update to include authentication module implementation and API endpoint restructuring
  apps/express-app/README.md
Due: prettier --write

chore: add client-ui directory to .gitignore
  .gitignore
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat(api): implement comprehensive Jest testing infrastructure
  apps/express-app/jest.config.js
  apps/express-app/package.json
  apps/express-app/src/__tests__/helpers/setup-test-app.ts
  apps/express-app/src/__tests__/integration/auth/register.test.ts
  apps/express-app/src/__tests__/unit/controllers/auth/auth-register.controller.test.ts
  apps/express-app/src/__tests__/unit/middlewares/error.middleware.test.ts
  apps/express-app/src/__tests__/unit/use-cases/user/create-user.test.ts
Due: prettier --write, pnpm --filter express-app lint

chore: update project configuration files
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(packages/schemas): implement Zod validation schemas for user data
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/src/user/email.schema.ts
  packages/schemas/src/user/index.ts
  packages/schemas/src/user/password.schema.ts
  packages/schemas/src/user/username.schema.ts
  packages/schemas/tsconfig.json
  packages/schemas/tsup.config.ts
Due: prettier --write, eslint --fix

chore: add build command for schemas and update pnpm-lock.yaml with schema dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write
