Repository Ismail-Lh/byltbasics-ecom: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter nextjs-app lint, prettier --write, pnpm --filter express-app lint, eslint --fix

.lintstagedrc:

{
  "apps/nextjs-app/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter nextjs-app lint",
    "prettier --write"
  ],
  "apps/express-app/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter express-app lint",
    "prettier --write"
  ],
  "packages/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore(client): add @byltbasics/schemas dependency to package.json
  apps/nextjs-app/package.json
Due: prettier --write

docs(packages/schemas): add README.md for validation schemas package
  packages/schemas/README.md
Due: prettier --write

feat(client/auth): implement user registration functionality
  apps/nextjs-app/package.json
  apps/nextjs-app/src/app/layout.tsx
  apps/nextjs-app/src/constants/env.constants.ts
  apps/nextjs-app/src/features/auth/components/forms/register/register-form.tsx
  apps/nextjs-app/src/features/auth/hooks/index.ts
  apps/nextjs-app/src/features/auth/hooks/use-register.ts
  apps/nextjs-app/src/features/auth/schemas/index.ts
  apps/nextjs-app/src/features/auth/schemas/register.schema.ts
  apps/nextjs-app/src/features/auth/services/auth.services.ts
  apps/nextjs-app/src/features/auth/services/index.ts
  apps/nextjs-app/src/lib/axios.lib.ts
  apps/nextjs-app/src/providers/index.ts
  apps/nextjs-app/src/providers/react-query.provider.tsx
  apps/nextjs-app/src/utils/async-try-catch.ts
  apps/nextjs-app/src/utils/index.ts
Due: pnpm --filter nextjs-app lint, prettier --write

chore: add eslint-plugin-format and update pnpm-lock.yaml with new dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove pnpm-lock.yaml file
  pnpm-lock.yaml
Due: none

docs(client): create comprehensive README with project details
  apps/nextjs-app/README.md
  pnpm-lock.yaml
Due: prettier --write

feat(packages/types): add user interface definition
  packages/types/src/user/index.ts
  packages/types/src/user/user.interface.ts
Due: prettier --write, eslint --fix

feat(packages/types): export user types from index
  packages/types/src/index.ts
Due: prettier --write, eslint --fix

fix(api/user): update findByEmail return type to IUser for consistency
  apps/express-app/src/application/repositories/user.repository.ts
  apps/express-app/src/infrastructure/repositories/drizzle/user.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): add DTO and schema for user authentication login
  apps/express-app/src/domain/auth/dtos/auth-login.dto.ts
  apps/express-app/src/domain/auth/dtos/index.ts
  apps/express-app/src/domain/auth/schemas/auth-login.schema.ts
  apps/express-app/src/domain/auth/schemas/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement user authentication use case with login interface
  apps/express-app/src/application/use-cases/auth/login/auth-login.interface.ts
  apps/express-app/src/application/use-cases/auth/login/auth-login.ts
  apps/express-app/src/application/use-cases/auth/login/index.ts
Due: prettier --write, pnpm --filter express-app lint

chore(api): add jsonwebtoken and its types for JWT support
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(api/providers): add IJwtTokenProvider interface for JWT token management
  apps/express-app/src/application/providers/index.ts
  apps/express-app/src/application/providers/jwt-token.interface.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/providers): add JwtTokenProvider implementation for JWT token management
  apps/express-app/src/infrastructure/providers/index.ts
  apps/express-app/src/infrastructure/providers/jwt-token/index.ts
  apps/express-app/src/infrastructure/providers/jwt-token/jwt-token.provider.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/dtos): add DTOs for authentication response and token management
  apps/express-app/src/domain/auth/dtos/auth-response.dto.ts
  apps/express-app/src/domain/auth/dtos/index.ts
  apps/express-app/src/domain/auth/dtos/jwt-token/decoded-token.dto.ts
  apps/express-app/src/domain/auth/dtos/jwt-token/index.ts
  apps/express-app/src/domain/auth/dtos/jwt-token/token-payload.dto.ts
  apps/express-app/src/domain/auth/dtos/jwt-token/verify-token.dto.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): update IAuthLoginUseCase to return IAuthResponseDto
  apps/express-app/src/application/use-cases/auth/login/auth-login.interface.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): refactor AuthLoginUseCase to return authentication tokens and update response types
  apps/express-app/src/application/use-cases/auth/index.ts
  apps/express-app/src/application/use-cases/auth/login/auth-login.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/di-container): add container bindings for IJwtTokenProvider and IAuthLoginUseCase
  apps/express-app/src/infrastructure/di-container/container.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/config): add authentication configuration to env schema and export
  apps/express-app/src/config/env.config.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): add AuthLoginController to handle user login requests
  apps/express-app/src/presentation/http/controllers/auth/auth-login.controller.ts
  apps/express-app/src/presentation/http/controllers/auth/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/di-container): add AuthLoginUseCase and AuthLoginController to types
  apps/express-app/src/infrastructure/di-container/types.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/service-provider): export authLoginController from service-provider
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/cookies): add cookie configuration for access, refresh, and clearing auth tokens
  apps/express-app/src/presentation/express/config/cookies/auth.cookie.ts
  apps/express-app/src/presentation/express/config/cookies/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement login endpoint with cookie handling for access and refresh tokens
  apps/express-app/src/presentation/express/routes/auth.routes.ts
Due: prettier --write, pnpm --filter express-app lint

feat(client/auth): implement login client functionality
  apps/nextjs-app/package.json
  apps/nextjs-app/src/app/(auth)/login/page.tsx
  apps/nextjs-app/src/components/global/form-input.tsx
  apps/nextjs-app/src/features/auth/components/forms/index.ts
  apps/nextjs-app/src/features/auth/components/forms/login/login-form.module.scss
  apps/nextjs-app/src/features/auth/components/forms/login/login-form.tsx
  apps/nextjs-app/src/features/auth/hooks/use-login.ts
  apps/nextjs-app/src/features/auth/pages/index.ts
  apps/nextjs-app/src/features/auth/pages/login/login-page.module.scss
  apps/nextjs-app/src/features/auth/pages/login/login-page.tsx
  apps/nextjs-app/src/features/auth/schemas/index.ts
  apps/nextjs-app/src/features/auth/schemas/login.schema.ts
  apps/nextjs-app/src/features/auth/services/auth.services.ts
  apps/nextjs-app/src/stores/index.ts
  apps/nextjs-app/src/stores/user-auth.store.ts
  apps/nextjs-app/src/utils/auth-cookies.util.ts
  apps/nextjs-app/src/utils/index.ts
  pnpm-lock.yaml
Due: pnpm --filter nextjs-app lint, prettier --write

docs(client): update README with enhanced auth features and environment setup instructions
  apps/nextjs-app/README.md
Due: prettier --write

docs(api): enhance README with detailed auth system and architecture overview
  apps/express-app/README.md
Due: prettier --write

docs: update README to reflect project scope, architecture, and setup instructions
  README.md
Due: prettier --write

refactor(api/auth): restructure api authentication architecture
  apps/express-app/package.json
  apps/express-app/src/application/use-cases/auth/auth-login.ts
  apps/express-app/src/application/use-cases/auth/index.ts
  apps/express-app/src/application/use-cases/auth/login/auth-login.interface.ts
  apps/express-app/src/application/use-cases/auth/login/index.ts
  apps/express-app/src/application/use-cases/user/create-user.ts
  apps/express-app/src/application/use-cases/user/create-user/create-user.interface.ts
  apps/express-app/src/application/use-cases/user/create-user/index.ts
  apps/express-app/src/domain/auth/schemas/index.ts
  apps/express-app/src/domain/user/schemas/email.schema.ts
  apps/express-app/src/domain/user/schemas/index.ts
  apps/express-app/src/domain/user/schemas/password.schema.ts
  apps/express-app/src/domain/user/schemas/username.schema.ts
  apps/express-app/src/domain/user/value-objects/email.ts
  apps/express-app/src/domain/user/value-objects/name.ts
  apps/express-app/src/domain/user/value-objects/password.ts
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/providers/response-sanitizer/response-sanitizer.ts
  apps/express-app/src/presentation/adapters/express.ts
  apps/express-app/src/presentation/controllers/auth/index.ts
  apps/express-app/src/presentation/controllers/auth/login.controller.ts
  apps/express-app/src/presentation/controllers/auth/register.controller.ts
  apps/express-app/src/presentation/controllers/controller.interface.ts
  apps/express-app/src/presentation/express/middlewares/validations/schemas/auth/index.ts
  apps/express-app/src/presentation/express/middlewares/validations/schemas/auth/login.schema.ts
  apps/express-app/src/presentation/express/middlewares/validations/schemas/index.ts
  apps/express-app/src/presentation/express/middlewares/validations/schemas/user/create-user.schema.ts
  apps/express-app/src/presentation/express/middlewares/validations/schemas/user/index.ts
  apps/express-app/src/presentation/express/routes/auth.routes.ts
  apps/express-app/src/presentation/express/types/index.ts
  apps/express-app/src/presentation/http/controllers/auth/index.ts
  apps/express-app/src/presentation/http/helpers/interfaces/http-res.ts
  apps/express-app/src/presentation/service-provider/index.ts
  apps/express-app/src/presentation/types/global.ts
  apps/express-app/src/presentation/types/http-req.ts
  apps/express-app/src/presentation/types/index.ts
Due: prettier --write, pnpm --filter express-app lint

refactor(api/auth): improve response handling and error management
  apps/express-app/src/application/providers/response-sanitizer.interface.ts
  apps/express-app/src/application/use-cases/auth/auth-login.ts
  apps/express-app/src/infrastructure/providers/response-sanitizer/response-sanitizer.ts
  apps/express-app/src/presentation/express/middlewares/errors/global-error.middleware.ts
  apps/express-app/src/presentation/express/routes/auth.routes.ts
Due: prettier --write, pnpm --filter express-app lint

feat(client/auth): enhance authentication flow in Next.js application
  apps/nextjs-app/src/features/auth/hooks/use-login.ts
  apps/nextjs-app/src/features/auth/hooks/use-register.ts
  apps/nextjs-app/src/features/auth/services/auth.services.ts
  pnpm-lock.yaml
Due: pnpm --filter nextjs-app lint, prettier --write

docs(api): enhance README with detailed architecture and response handling improvements
  apps/express-app/README.md
Due: prettier --write

feat(client/ui): implement product collections section for homepage
  apps/nextjs-app/src/data/index.ts
  apps/nextjs-app/src/data/product-collections.ts
  apps/nextjs-app/src/layout/index.ts
  apps/nextjs-app/src/layout/product-collections/components/collection-card/index.tsx
  apps/nextjs-app/src/layout/product-collections/components/collection-card/styles.module.scss
  apps/nextjs-app/src/layout/product-collections/components/index.ts
  apps/nextjs-app/src/layout/product-collections/index.tsx
  apps/nextjs-app/src/layout/product-collections/styles.module.scss
  apps/nextjs-app/src/pages/home/index.tsx
Due: pnpm --filter nextjs-app lint, prettier --write

feat(client): implement footer components and subscription form
  apps/nextjs-app/src/app/layout.tsx
  apps/nextjs-app/src/constants/footer-links.ts
  apps/nextjs-app/src/ui/layout/discount-subscription-form/index.tsx
  apps/nextjs-app/src/ui/layout/discount-subscription-form/styles.module.scss
  apps/nextjs-app/src/ui/layout/footer/footer-link-list/index.tsx
  apps/nextjs-app/src/ui/layout/footer/footer-link-list/styles.module.scss
  apps/nextjs-app/src/ui/layout/footer/index.tsx
  apps/nextjs-app/src/ui/layout/footer/styles.module.scss
  apps/nextjs-app/src/ui/layout/hero/components/hero-background-image/index.tsx
  apps/nextjs-app/src/ui/layout/index.ts
  apps/nextjs-app/src/ui/pages/home/index.tsx
  apps/nextjs-app/src/utils/chunk-array.ts
  apps/nextjs-app/src/utils/index.ts
Due: pnpm --filter nextjs-app lint, prettier --write

feat(api/auth): add refresh token database schema for user sessions
  apps/express-app/src/domain/user/dtos/user-out.dto.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0002_known_matthew_murdock.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0002_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/index.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/refresh-token.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/user.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seed.ts
  apps/express-app/src/infrastructure/databases/drizzle-supabase/seeds/user.ts
  packages/types/src/user/user.interface.ts
Due: prettier --write, pnpm --filter express-app lint, eslint --fix

refactor(api/auth): optimize refresh token database schema and constraints
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0003_ambitious_payback.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0004_motionless_vulture.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/0005_graceful_logan.sql
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0003_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0004_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0005_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/schemas/refresh-token.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement refresh token repository and domain model
  apps/express-app/src/application/repositories/index.ts
  apps/express-app/src/application/repositories/refresh-token.repository.ts
  apps/express-app/src/domain/auth/refresh-token/dtos/create-token-entity.dto.ts
  apps/express-app/src/domain/auth/refresh-token/dtos/create-token-req.dto.ts
  apps/express-app/src/domain/auth/refresh-token/dtos/index.ts
  apps/express-app/src/domain/auth/refresh-token/index.ts
  apps/express-app/src/domain/auth/refresh-token/refresh-token.entity.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/device-id.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/expires-at.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/index.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/ip-address.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/token.ts
  apps/express-app/src/infrastructure/repositories/drizzle/refresh-token.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement device and IP tracking for authentication
  apps/express-app/src/application/use-cases/auth/auth-login.ts
  apps/express-app/src/domain/auth/dtos/auth-login.dto.ts
  apps/express-app/src/presentation/controllers/auth/login.controller.ts
  apps/express-app/src/presentation/types/http-req.ts
Due: prettier --write, pnpm --filter express-app lint
