Repository Ismail-Lh/byltbasics-ecom: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter nextjs-app lint, prettier --write, pnpm --filter express-app lint, eslint --fix

chore(husky): remove unnecessary shebang and husky.sh sourcing from commit-msg and pre-commit hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: remove unused dev-dependencies from package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update linting scripts and refine lint-staged configuration
  package.json
Due: prettier --write

docs: update README to clarify project structure and code quality tools
  README.md
Due: prettier --write

chore(server): add initial package.json for express app setup
  apps/express-app/package.json
Due: prettier --write

chore(server): add tsconfig.json for TypeScript configuration
  apps/express-app/tsconfig.json
Due: prettier --write

chore(package): add dependencies related to express app and fix devDependencies structure
  apps/express-app/package.json
Due: prettier --write

feat(app): implement initial Express server setup with CORS and helmet middleware
  apps/express-app/src/app.ts
Due: prettier --write, pnpm --filter express-app lint

feat(server): add initial server setup with error handling and logging
  apps/express-app/src/index.ts
Due: prettier --write, pnpm --filter express-app lint

chore(server): add linting scripts to package.json for code quality
  apps/express-app/package.json
Due: prettier --write

chore(gitignore): update patterns to ignore files in subdirectories
  .gitignore
Due: none

chore(package): update lint-staged script
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(package): add zod dependency to the express app
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(config): add environment configuration with validation using zod
  apps/express-app/src/config/env.config.ts
  apps/express-app/src/config/index.ts
Due: prettier --write, pnpm --filter express-app lint

feat(server): configure server port using environment variable
  apps/express-app/src/index.ts
Due: prettier --write, pnpm --filter express-app lint

chore(package): add inversify and reflect-metadata dependencies
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(inversify): add container, service-provider, and types for dependency injection
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/index.ts
  apps/express-app/src/config/inversify/service-provider.ts
  apps/express-app/src/config/inversify/types.ts
Due: prettier --write, pnpm --filter express-app lint

feat(app): import reflect-metadata and service-provider for DI container
  apps/express-app/src/app.ts
Due: prettier --write, pnpm --filter express-app lint

feat(package): add winston dependencie for logging functionality
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(api): implement robust logging service for Express API
  apps/express-app/src/services/index.ts
  apps/express-app/src/services/logger/index.ts
  apps/express-app/src/services/logger/logger.constants.ts
  apps/express-app/src/services/logger/logger.service.ts
  apps/express-app/src/services/logger/logger.types.ts
Due: prettier --write, pnpm --filter express-app lint

feat(inversify): configure logger service binding in the container
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/service-provider.ts
Due: prettier --write, pnpm --filter express-app lint

feat(logging): replace console logs with loggerService for improved error handling
  apps/express-app/src/index.ts
Due: prettier --write, pnpm --filter express-app lint

docs(logger): enhance LoggerService with detailed method documentation
  apps/express-app/src/services/logger/logger.service.ts
Due: prettier --write, pnpm --filter express-app lint

chore(eslint): change consistent-type-definitions rule to use 'interface'
  eslint.config.mjs
Due: none

chore(gitignore): update .gitignore to include additional log files
  .gitignore
Due: none

docs(server): add comprehensive README for BYLT Basics Express API
  apps/express-app/README.md
Due: prettier --write

chore(server): add http-status package to project dependencies
  apps/express-app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(errors): implement custom error classes for API error handling
  apps/express-app/src/api-errors/bad-request.error.ts
  apps/express-app/src/api-errors/base.error.ts
  apps/express-app/src/api-errors/conflict.error.ts
  apps/express-app/src/api-errors/database.error.ts
  apps/express-app/src/api-errors/forbidden.error.ts
  apps/express-app/src/api-errors/index.ts
  apps/express-app/src/api-errors/internal-server.error.ts
  apps/express-app/src/api-errors/method-not-allowed.error.ts
  apps/express-app/src/api-errors/not-found.error.ts
  apps/express-app/src/api-errors/too-many-requests.error.ts
  apps/express-app/src/api-errors/unauthorized.error.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api): implement robust error handling middleware system
  apps/express-app/src/middlewares/error/global-error.middleware.ts
  apps/express-app/src/middlewares/error/index.ts
  apps/express-app/src/middlewares/error/not-allowed-method.middleware.ts
Due: prettier --write, pnpm --filter express-app lint

feat(app): add global error handling and unsupported method middleware
  apps/express-app/src/app.ts
Due: prettier --write, pnpm --filter express-app lint

docs(api): enhance README with error handling and project structure details
  apps/express-app/README.md
Due: prettier --write

refactor(api): relocate error handling to align with DDD architecture
  apps/express-app/src/infrastructure/errors/bad-request.error.ts
  apps/express-app/src/infrastructure/errors/base.error.ts
  apps/express-app/src/infrastructure/errors/conflict.error.ts
  apps/express-app/src/infrastructure/errors/database.error.ts
  apps/express-app/src/infrastructure/errors/forbidden.error.ts
  apps/express-app/src/infrastructure/errors/index.ts
  apps/express-app/src/infrastructure/errors/internal-server.error.ts
  apps/express-app/src/infrastructure/errors/method-not-allowed.error.ts
  apps/express-app/src/infrastructure/errors/not-found.error.ts
  apps/express-app/src/infrastructure/errors/too-many-requests.error.ts
  apps/express-app/src/infrastructure/errors/unauthorized.error.ts
Due: prettier --write, pnpm --filter express-app lint

chore(api): update dev script to point to new server entry point
  apps/express-app/package.json
Due: prettier --write

refactor(api): update dependency injection container
  apps/express-app/src/config/inversify/container.ts
  apps/express-app/src/config/inversify/service-provider.ts
  apps/express-app/src/config/inversify/types.ts
Due: prettier --write, pnpm --filter express-app lint

refactor(api): enhance logging system with better abstraction
  apps/express-app/src/application/providers/logger.interface.ts
  apps/express-app/src/infrastructure/providers/logger/constants.ts
  apps/express-app/src/infrastructure/providers/logger/index.ts
  apps/express-app/src/infrastructure/providers/logger/logger.ts
  apps/express-app/src/services/logger/index.ts
  apps/express-app/src/services/logger/logger.types.ts
Due: prettier --write, pnpm --filter express-app lint

refactor(api): move server bootstrapping and error handling to presentation layer
  apps/express-app/src/presentation/express/app.ts
  apps/express-app/src/presentation/express/middlewares/errors/global-error.middleware.ts
  apps/express-app/src/presentation/express/middlewares/errors/index.ts
  apps/express-app/src/presentation/express/middlewares/errors/not-allowed-method.middleware.ts
  apps/express-app/src/presentation/express/middlewares/index.ts
  apps/express-app/src/presentation/express/server.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api): add index files for logger interface and logger provider
  apps/express-app/src/application/providers/index.ts
  apps/express-app/src/infrastructure/providers/index.ts
Due: prettier --write, pnpm --filter express-app lint

fix(husky): remove unnecessary no option from commitlint command
  .husky/commit-msg
Due: none

docs(api): update README with clean architecture details
  apps/express-app/README.md
Due: prettier --write

Path conditions:
  pnpm --filter nextjs-app lint: any of: apps/nextjs-app/**/*.{js,jsx,ts,tsx}
  prettier --write: (((any of: apps/nextjs-app/**/*.{js,jsx,ts,tsx}) or (any of: apps/express-app/**/*.{js,jsx,ts,tsx})) or (any of: packages/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md})
  pnpm --filter express-app lint: any of: apps/express-app/**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: packages/**/*.{js,jsx,ts,tsx}
