Repository Ismail-Lh/byltbasics-ecom: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter nextjs-app lint, prettier --write, pnpm --filter express-app lint, eslint --fix

feat(api/auth): register refresh token repository in dependency injection container
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/di-container/types.ts
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

refactor: reorganize imports and ensure consistent formatting across components
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0000_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/0001_snapshot.json
  apps/express-app/src/infrastructure/databases/drizzle-supabase/migrations/meta/_journal.json
  apps/nextjs-app/src/app/layout.tsx
  apps/nextjs-app/src/features/auth/components/forms/login/login-form.tsx
  apps/nextjs-app/src/features/auth/components/forms/register/register-form.tsx
  apps/nextjs-app/src/features/auth/hooks/use-login.ts
  apps/nextjs-app/src/features/auth/services/auth.services.ts
  apps/nextjs-app/src/lib/axios.lib.ts
  apps/nextjs-app/src/stores/user-auth.store.ts
  apps/nextjs-app/src/ui/components/global/form-input.tsx
  apps/nextjs-app/src/ui/components/ui/button.tsx
  apps/nextjs-app/src/ui/components/ui/form.tsx
  apps/nextjs-app/src/ui/components/ui/input.tsx
  apps/nextjs-app/src/ui/components/ui/label.tsx
  apps/nextjs-app/src/ui/layout/footer/index.tsx
  apps/nextjs-app/src/ui/layout/product-collections/components/collection-card/index.tsx
  apps/nextjs-app/src/ui/layout/product-collections/components/collection-card/styles.module.scss
  apps/nextjs-app/src/utils/auth-cookies.util.ts
Due: pnpm --filter nextjs-app lint, prettier --write

fix(eslint): update filename case rule to ignore multiple file types
  eslint.config.mjs
Due: none

refactor: improve formatting and consistency in README files
  BRANCHING_STRATEGY.md
  packages/schemas/README.md
Due: prettier --write

chore: set up Turborepo for monorepo workflow management
  .gitignore
  package.json
  packages/schemas/package.json
  packages/types/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat(api/auth): implement token revocation and finding methods in refresh token repository
  apps/express-app/src/application/repositories/refresh-token.repository.ts
  apps/express-app/src/infrastructure/repositories/drizzle/index.ts
  apps/express-app/src/infrastructure/repositories/drizzle/refresh-token.repository.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement refresh token verification domain model
  apps/express-app/src/domain/auth/refresh-token/dtos/index.ts
  apps/express-app/src/domain/auth/refresh-token/dtos/refresh-token-req.dto.ts
  apps/express-app/src/domain/auth/refresh-token/index.ts
  apps/express-app/src/domain/auth/refresh-token/refresh-token.entity.ts
  apps/express-app/src/domain/auth/refresh-token/refresh-token.model.ts
  apps/express-app/src/domain/auth/refresh-token/value-objects/token.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): integrate refresh token creation in login flow
  apps/express-app/src/application/use-cases/auth/auth-login.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): implement refresh token use case for token rotation
  apps/express-app/src/application/use-cases/auth/index.ts
  apps/express-app/src/application/use-cases/auth/refresh-token.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): add refresh token endpoint and controller
  apps/express-app/src/presentation/controllers/auth/index.ts
  apps/express-app/src/presentation/controllers/auth/refresh-token.controller.ts
  apps/express-app/src/presentation/express/routes/auth.routes.ts
  apps/express-app/src/presentation/types/http-req.ts
Due: prettier --write, pnpm --filter express-app lint

feat(api/auth): register refresh token components in dependency injection system
  apps/express-app/src/infrastructure/di-container/container.ts
  apps/express-app/src/infrastructure/di-container/types.ts
  apps/express-app/src/presentation/service-provider/index.ts
Due: prettier --write, pnpm --filter express-app lint

docs(api): update README to reflect recent authentication enhancements
  apps/express-app/README.md
Due: prettier --write

Path conditions:
  pnpm --filter nextjs-app lint: any of: apps/nextjs-app/**/*.{js,jsx,ts,tsx}
  prettier --write: (((any of: apps/nextjs-app/**/*.{js,jsx,ts,tsx}) or (any of: apps/express-app/**/*.{js,jsx,ts,tsx})) or (any of: packages/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,md})
  pnpm --filter express-app lint: any of: apps/express-app/**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: packages/**/*.{js,jsx,ts,tsx}
